@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Overlock SC', sans-serif;
    color: white;
}

.container {
    max-width: 60%;
    background-color: #24252a;
    margin: 2px auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.item {
    max-width: 350px;
    min-height: 180px;
    background-color: #24252a;
    display: flex;
    border-radius: 5px;
    border: 1px solid #263c5a;
    margin: 10px;
    margin-top: 10px;
    transition: all 0.2s ease 0s;
    flex-basis: 30%;
    position: relative;
}

.item:hover {
    border: 1px solid orange;
}

.info {
    padding: 5px;
    margin-left: 0px;
    margin-top: 25px;
    font-size: 15px;
}

span {
    color: rgb(240, 242, 243);
    font-size: 15px;
}

span:hover {
    color: rgba(0,136,169,1);
    transition: all 0.2s ease 0s;
}

.container img {
    height: 140px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    transition: all 0.2s ease 0s;
}

.container img:hover {
    width: 103px;
    height: 143px;
    transition: all 0.1s ease 0s;
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 95%;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1300px) {
    .item {
        flex-basis: 100%;
        margin-top: 10px;
    }
}

.name-container {
    height: 60px;
    width: 60%;
    display: flex;
    background-color: #24252a;
    margin: 0 auto;
    color: rgba(0,136,169,1);
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

.name-container h2 {
    color: rgba(0,136,169,1);
    padding: 15px;
}

@media only screen and (max-width: 1300px) {
    .name-container {
        margin-top: 0px;
        width: 95%;
    }
}

@media only screen and (max-width: 300px) {
    .name-container {
        font-size: 14px;
    }
}







