
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Overlock SC', sans-serif;
    color: white;
}

.nav {
    background-color: #24252a;
    height: 50px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
}

.nav ul {
    font-size: 17px;
}

.nav ul li a:hover {
    background-color: rgb(38, 93, 212);
}
.nav ul li {
    display: inline-block;
    line-height: 50px;
}

.nav ul li a {
    color: #edf0f1;
    transition: all 0.1s ease 0s;
    background-color: rgb(41, 138, 228);
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

.nav img {
    position: relative;
    margin-top: 8px;
    float: left;
    margin-left: 2px;
}

.home {
    position: absolute;
    float: left;
}

body {
    background-color:#263c5a;
 }

 footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    margin-top: 2px;
    background-color: #24252a;
    width: 100%;
    height: 120px;
 }

 .nav a {
    font-size: 15px;
 }

  .container {
    margin: 0px auto;
    width: 100%;
}

.container img {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0px auto;
    flex-wrap: wrap;
}


 @media only screen and (max-width: 1300px) {
    .container img {
        width: 100%;
    }
 }

 @media only screen and (max-width: 300px) {
    .container img {
        width: 100%;
    }
 }

 @media only screen and (max-width: 280px) {
    .nav ul li a {
        padding: 2px;
        font-size: 15px;
    }
 }

 @media only screen and (max-width: 750px) {
    .nav ul li a {
        padding: 10px;
        font-size: 18px;
    }
 }

 @media only screen and (max-width: 360px) {
    .nav ul li a {
        padding: 10px;
        font-size: 15px;
    }
 }

 @media only screen and (max-width: 750px) {
    .copertina {
        width: 100%;
        height: 100%;
    }
 }

 .copertina {
    width: 37.8%;
 }